USE [master]
GO
/****** Object:  Database [GIBDD_Gorlanov_619]    Script Date: 13.02.2023 18:19:12 ******/
CREATE DATABASE [GIBDD_Gorlanov_619]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GIBDD_Gorlanov_619', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\GIBDD_Gorlanov_619.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GIBDD_Gorlanov_619_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\GIBDD_Gorlanov_619_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GIBDD_Gorlanov_619].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GIBDD_Gorlanov_619]
GO
/****** Object:  Table [dbo].[Car]    Script Date: 13.02.2023 18:19:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Car](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[VIN] [nvarchar](50) NOT NULL,
	[ManufacturerID] [int] NOT NULL,
	[CarModelID] [int] NOT NULL,
	[Year] [date] NOT NULL,
	[Weight] [int] NOT NULL,
	[Color] [int] NOT NULL,
	[EngineType] [int] NOT NULL,
	[TypeOfDriveID] [int] NOT NULL,
 CONSTRAINT [PK_Car] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CarModel]    Script Date: 13.02.2023 18:19:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarModel](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_CarModel] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 13.02.2023 18:19:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Company]    Script Date: 13.02.2023 18:19:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Company](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Company] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Driver]    Script Date: 13.02.2023 18:19:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Driver](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Surname] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Patronymic] [nvarchar](50) NOT NULL,
	[PassportSerial] [nvarchar](50) NOT NULL,
	[PassportNumber] [nvarchar](50) NOT NULL,
	[Postcode] [nvarchar](50) NULL,
	[Address] [nvarchar](250) NOT NULL,
	[AddressLife] [nvarchar](250) NULL,
	[CompanyID] [int] NULL,
	[JobID] [int] NULL,
	[Phone] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Photo] [nvarchar](250) NULL,
	[Description] [nvarchar](max) NULL,
	[IsArchive] [bit] NOT NULL,
 CONSTRAINT [PK_Driver] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DriverCar]    Script Date: 13.02.2023 18:19:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DriverCar](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DriverID] [int] NOT NULL,
	[CarID] [int] NOT NULL,
 CONSTRAINT [PK_DriverCar] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DriverLicense]    Script Date: 13.02.2023 18:19:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DriverLicense](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DriverID] [int] NOT NULL,
	[LicenseID] [int] NOT NULL,
 CONSTRAINT [PK_DriverLicense] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inspector]    Script Date: 13.02.2023 18:19:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inspector](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Code] [nvarchar](4) NULL,
 CONSTRAINT [PK_Inspector] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JobName]    Script Date: 13.02.2023 18:19:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobName](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_JobName] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[License]    Script Date: 13.02.2023 18:19:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[License](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LicenseDate] [date] NOT NULL,
	[ExpireDate] [date] NOT NULL,
	[LicenceSeries] [nvarchar](50) NOT NULL,
	[LicenceNumber] [nvarchar](50) NOT NULL,
	[StatusID] [int] NOT NULL,
 CONSTRAINT [PK_License] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LicenseCategory]    Script Date: 13.02.2023 18:19:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LicenseCategory](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LicenseID] [int] NOT NULL,
	[CategoryID] [int] NOT NULL,
 CONSTRAINT [PK_LicenseCategory] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Manufacturer]    Script Date: 13.02.2023 18:19:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Manufacturer](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Manufacturer] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ManufacturerCarModel]    Script Date: 13.02.2023 18:19:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ManufacturerCarModel](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CarModelID] [int] NOT NULL,
	[ManufacturerID] [int] NOT NULL,
 CONSTRAINT [PK_ManufacturerCarModels] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Status]    Script Date: 13.02.2023 18:19:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Status] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypeOfDrive]    Script Date: 13.02.2023 18:19:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeOfDrive](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TypeOfDrive] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Car] ON 

INSERT [dbo].[Car] ([ID], [VIN], [ManufacturerID], [CarModelID], [Year], [Weight], [Color], [EngineType], [TypeOfDriveID]) VALUES (1, N'WBAKG7C54DJ746310', 1, 1, CAST(N'1905-07-01' AS Date), 1794, 116, 3, 1)
INSERT [dbo].[Car] ([ID], [VIN], [ManufacturerID], [CarModelID], [Year], [Weight], [Color], [EngineType], [TypeOfDriveID]) VALUES (2, N'JN1CV6APXCM884333', 1, 1, CAST(N'1905-07-10' AS Date), 1523, 118, 3, 1)
INSERT [dbo].[Car] ([ID], [VIN], [ManufacturerID], [CarModelID], [Year], [Weight], [Color], [EngineType], [TypeOfDriveID]) VALUES (3, N'2C4RDGCG2FR292116', 1, 2, CAST(N'1905-06-16' AS Date), 1750, 120, 2, 1)
GO
SET IDENTITY_INSERT [dbo].[Car] OFF
GO
SET IDENTITY_INSERT [dbo].[CarModel] ON 

INSERT [dbo].[CarModel] ([ID], [Name]) VALUES (1, N'1-Series')
INSERT [dbo].[CarModel] ([ID], [Name]) VALUES (2, N'2-Series')
INSERT [dbo].[CarModel] ([ID], [Name]) VALUES (3, N'New Class 1602, 1802, 2002')
SET IDENTITY_INSERT [dbo].[CarModel] OFF
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([ID], [Name]) VALUES (1, N'A')
INSERT [dbo].[Category] ([ID], [Name]) VALUES (2, N'B')
INSERT [dbo].[Category] ([ID], [Name]) VALUES (3, N'C')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Company] ON 

INSERT [dbo].[Company] ([ID], [Name]) VALUES (1, N'Global Gillette')
INSERT [dbo].[Company] ([ID], [Name]) VALUES (2, N'Coca-Cola')
INSERT [dbo].[Company] ([ID], [Name]) VALUES (3, N'Harley-Davidson Motor Company')
GO
SET IDENTITY_INSERT [dbo].[Company] OFF
GO
SET IDENTITY_INSERT [dbo].[Driver] ON 

INSERT [dbo].[Driver] ([ID], [Surname], [Name], [Patronymic], [PassportSerial], [PassportNumber], [Postcode], [Address], [AddressLife], [CompanyID], [JobID], [Phone], [Email], [Photo], [Description], [IsArchive]) VALUES (1, N'Alonso', N'Hopkins', N'Caleb', N'2303', N'160716', N'760832', N'452 Cobblestone St.', N'452 Cobblestone St.', 1, 1, N'+7(970)383-8934', N'skippy@icloud.com', N'/Images/001-happy-18.png', NULL, 0)
INSERT [dbo].[Driver] ([ID], [Surname], [Name], [Patronymic], [PassportSerial], [PassportNumber], [Postcode], [Address], [AddressLife], [CompanyID], [JobID], [Phone], [Email], [Photo], [Description], [IsArchive]) VALUES (2, N'Kaydence', N'Sellers', N'Susannah', N'5563', N'160745', N'807042', N'Hyattsville, MD 20782', NULL, 2, 2, N'+7(867)708-4447', N'isotopian@sbcglobal.net', N'/Images/002-cool-5.png', NULL, 0)
INSERT [dbo].[Driver] ([ID], [Surname], [Name], [Patronymic], [PassportSerial], [PassportNumber], [Postcode], [Address], [AddressLife], [CompanyID], [JobID], [Phone], [Email], [Photo], [Description], [IsArchive]) VALUES (3, N'Finnegan', N'Bray', N'Brighton', N'3719', N'717453', N'83282', N'9648 Philmont Lane', NULL, 3, 3, N'+7(221)428-7850', N'isaacson@att.net', N'/Images/003-happy-17.png', NULL, 0)
GO
SET IDENTITY_INSERT [dbo].[Driver] OFF
GO
SET IDENTITY_INSERT [dbo].[DriverCar] ON 

INSERT [dbo].[DriverCar] ([ID], [DriverID], [CarID]) VALUES (1, 1, 1)
INSERT [dbo].[DriverCar] ([ID], [DriverID], [CarID]) VALUES (2, 2, 2)
INSERT [dbo].[DriverCar] ([ID], [DriverID], [CarID]) VALUES (3, 3, 3)
GO
SET IDENTITY_INSERT [dbo].[DriverCar] OFF
GO
SET IDENTITY_INSERT [dbo].[DriverLicense] ON 

INSERT [dbo].[DriverLicense] ([ID], [DriverID], [LicenseID]) VALUES (1, 1, 1)
INSERT [dbo].[DriverLicense] ([ID], [DriverID], [LicenseID]) VALUES (2, 2, 2)
INSERT [dbo].[DriverLicense] ([ID], [DriverID], [LicenseID]) VALUES (3, 3, 3)
GO
SET IDENTITY_INSERT [dbo].[DriverLicense] OFF
GO
SET IDENTITY_INSERT [dbo].[Inspector] ON 

INSERT [dbo].[Inspector] ([ID], [Login], [Password], [Code]) VALUES (1, N'test', N'test', N'4779')
SET IDENTITY_INSERT [dbo].[Inspector] OFF
GO
SET IDENTITY_INSERT [dbo].[JobName] ON 

INSERT [dbo].[JobName] ([ID], [Name]) VALUES (1, N'Reporter')
INSERT [dbo].[JobName] ([ID], [Name]) VALUES (2, N'Elementary School Teacher')
INSERT [dbo].[JobName] ([ID], [Name]) VALUES (3, N'Childcare worker')
GO
SET IDENTITY_INSERT [dbo].[JobName] OFF
GO
SET IDENTITY_INSERT [dbo].[License] ON 

INSERT [dbo].[License] ([ID], [LicenseDate], [ExpireDate], [LicenceSeries], [LicenceNumber], [StatusID]) VALUES (1, CAST(N'2019-01-13' AS Date), CAST(N'2027-07-03' AS Date), N'56 40', N'613073', 1)
INSERT [dbo].[License] ([ID], [LicenseDate], [ExpireDate], [LicenceSeries], [LicenceNumber], [StatusID]) VALUES (2, CAST(N'2018-08-02' AS Date), CAST(N'2023-09-21' AS Date), N'74 65', N'904246', 1)
INSERT [dbo].[License] ([ID], [LicenseDate], [ExpireDate], [LicenceSeries], [LicenceNumber], [StatusID]) VALUES (3, CAST(N'2018-12-31' AS Date), CAST(N'2025-01-25' AS Date), N'67 50', N'769897', 1)
GO
SET IDENTITY_INSERT [dbo].[License] OFF
GO
SET IDENTITY_INSERT [dbo].[LicenseCategory] ON 

INSERT [dbo].[LicenseCategory] ([ID], [LicenseID], [CategoryID]) VALUES (1, 1, 2)
INSERT [dbo].[LicenseCategory] ([ID], [LicenseID], [CategoryID]) VALUES (2, 2, 2)
INSERT [dbo].[LicenseCategory] ([ID], [LicenseID], [CategoryID]) VALUES (3, 3, 2)
GO
SET IDENTITY_INSERT [dbo].[LicenseCategory] OFF
GO
SET IDENTITY_INSERT [dbo].[Manufacturer] ON 

INSERT [dbo].[Manufacturer] ([ID], [Name]) VALUES (1, N'BMW')
INSERT [dbo].[Manufacturer] ([ID], [Name]) VALUES (2, N'Cadillac')
INSERT [dbo].[Manufacturer] ([ID], [Name]) VALUES (3, N'Kia')
SET IDENTITY_INSERT [dbo].[Manufacturer] OFF
GO
SET IDENTITY_INSERT [dbo].[ManufacturerCarModel] ON 

INSERT [dbo].[ManufacturerCarModel] ([ID], [CarModelID], [ManufacturerID]) VALUES (1, 1, 1)
INSERT [dbo].[ManufacturerCarModel] ([ID], [CarModelID], [ManufacturerID]) VALUES (2, 2, 1)
INSERT [dbo].[ManufacturerCarModel] ([ID], [CarModelID], [ManufacturerID]) VALUES (3, 3, 1)
SET IDENTITY_INSERT [dbo].[ManufacturerCarModel] OFF
GO
SET IDENTITY_INSERT [dbo].[Status] ON 

INSERT [dbo].[Status] ([ID], [Name]) VALUES (1, N'Active')
INSERT [dbo].[Status] ([ID], [Name]) VALUES (2, N'Expire')
INSERT [dbo].[Status] ([ID], [Name]) VALUES (3, N'Paused')
SET IDENTITY_INSERT [dbo].[Status] OFF
GO
SET IDENTITY_INSERT [dbo].[TypeOfDrive] ON 

INSERT [dbo].[TypeOfDrive] ([ID], [Name]) VALUES (1, N'front-wheel drive
')
INSERT [dbo].[TypeOfDrive] ([ID], [Name]) VALUES (2, N'full drive
')
INSERT [dbo].[TypeOfDrive] ([ID], [Name]) VALUES (3, N'rear drive
')
SET IDENTITY_INSERT [dbo].[TypeOfDrive] OFF
GO
ALTER TABLE [dbo].[Driver] ADD  CONSTRAINT [DF_Driver_IsArchive]  DEFAULT ((0)) FOR [IsArchive]
GO
ALTER TABLE [dbo].[Car]  WITH CHECK ADD  CONSTRAINT [FK_Car_CarModel] FOREIGN KEY([CarModelID])
REFERENCES [dbo].[CarModel] ([ID])
GO
ALTER TABLE [dbo].[Car] CHECK CONSTRAINT [FK_Car_CarModel]
GO
ALTER TABLE [dbo].[Car]  WITH CHECK ADD  CONSTRAINT [FK_Car_Manufacturer] FOREIGN KEY([ManufacturerID])
REFERENCES [dbo].[Manufacturer] ([ID])
GO
ALTER TABLE [dbo].[Car] CHECK CONSTRAINT [FK_Car_Manufacturer]
GO
ALTER TABLE [dbo].[Car]  WITH CHECK ADD  CONSTRAINT [FK_Car_TypeOfDrive] FOREIGN KEY([TypeOfDriveID])
REFERENCES [dbo].[TypeOfDrive] ([ID])
GO
ALTER TABLE [dbo].[Car] CHECK CONSTRAINT [FK_Car_TypeOfDrive]
GO
ALTER TABLE [dbo].[Driver]  WITH CHECK ADD  CONSTRAINT [FK_Driver_Company] FOREIGN KEY([CompanyID])
REFERENCES [dbo].[Company] ([ID])
GO
ALTER TABLE [dbo].[Driver] CHECK CONSTRAINT [FK_Driver_Company]
GO
ALTER TABLE [dbo].[Driver]  WITH CHECK ADD  CONSTRAINT [FK_Driver_JobName] FOREIGN KEY([JobID])
REFERENCES [dbo].[JobName] ([ID])
GO
ALTER TABLE [dbo].[Driver] CHECK CONSTRAINT [FK_Driver_JobName]
GO
ALTER TABLE [dbo].[DriverCar]  WITH CHECK ADD  CONSTRAINT [FK_DriverCar_Car] FOREIGN KEY([CarID])
REFERENCES [dbo].[Car] ([ID])
GO
ALTER TABLE [dbo].[DriverCar] CHECK CONSTRAINT [FK_DriverCar_Car]
GO
ALTER TABLE [dbo].[DriverCar]  WITH CHECK ADD  CONSTRAINT [FK_DriverCar_Driver] FOREIGN KEY([DriverID])
REFERENCES [dbo].[Driver] ([ID])
GO
ALTER TABLE [dbo].[DriverCar] CHECK CONSTRAINT [FK_DriverCar_Driver]
GO
ALTER TABLE [dbo].[DriverLicense]  WITH CHECK ADD  CONSTRAINT [FK_DriverLicense_Driver] FOREIGN KEY([DriverID])
REFERENCES [dbo].[Driver] ([ID])
GO
ALTER TABLE [dbo].[DriverLicense] CHECK CONSTRAINT [FK_DriverLicense_Driver]
GO
ALTER TABLE [dbo].[DriverLicense]  WITH CHECK ADD  CONSTRAINT [FK_DriverLicense_License] FOREIGN KEY([LicenseID])
REFERENCES [dbo].[License] ([ID])
GO
ALTER TABLE [dbo].[DriverLicense] CHECK CONSTRAINT [FK_DriverLicense_License]
GO
ALTER TABLE [dbo].[License]  WITH CHECK ADD  CONSTRAINT [FK_License_Status] FOREIGN KEY([StatusID])
REFERENCES [dbo].[Status] ([ID])
GO
ALTER TABLE [dbo].[License] CHECK CONSTRAINT [FK_License_Status]
GO
ALTER TABLE [dbo].[LicenseCategory]  WITH CHECK ADD  CONSTRAINT [FK_LicenseCategory_Category] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Category] ([ID])
GO
ALTER TABLE [dbo].[LicenseCategory] CHECK CONSTRAINT [FK_LicenseCategory_Category]
GO
ALTER TABLE [dbo].[LicenseCategory]  WITH CHECK ADD  CONSTRAINT [FK_LicenseCategory_License] FOREIGN KEY([LicenseID])
REFERENCES [dbo].[License] ([ID])
GO
ALTER TABLE [dbo].[LicenseCategory] CHECK CONSTRAINT [FK_LicenseCategory_License]
GO
ALTER TABLE [dbo].[ManufacturerCarModel]  WITH CHECK ADD  CONSTRAINT [FK_ManufacturerCarModel_CarModel] FOREIGN KEY([CarModelID])
REFERENCES [dbo].[CarModel] ([ID])
GO
ALTER TABLE [dbo].[ManufacturerCarModel] CHECK CONSTRAINT [FK_ManufacturerCarModel_CarModel]
GO
ALTER TABLE [dbo].[ManufacturerCarModel]  WITH CHECK ADD  CONSTRAINT [FK_ManufacturerCarModel_Manufacturer] FOREIGN KEY([ManufacturerID])
REFERENCES [dbo].[Manufacturer] ([ID])
GO
ALTER TABLE [dbo].[ManufacturerCarModel] CHECK CONSTRAINT [FK_ManufacturerCarModel_Manufacturer]
GO
USE [master]
GO
